.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .LoginForm {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-group label {
    width: 80px; /* 적절한 너비 설정 */
    margin-right: 10px;
  }
  
  .form-group input {
    flex: 1;
  }
  